@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #011E3B;
  /* Brand Deep Navy */
  --card: #f9fafb;
  --border: #e5e7eb;

  --forge-navy: #011E3B;
  --forge-orange: #F9AD25;
  --forge-gold: #FCCC6C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-border: var(--border);

  --color-forge-navy: var(--forge-navy);
  --color-forge-orange: var(--forge-orange);
  --color-forge-gold: var(--forge-gold);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}